/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	font-family: serif;
	background-color: grey;
}

.container{
	width: 800px;
	background-color: white;
	margin: auto;
}

.header{
	padding: 15px;
}

.header .judul{
	font-size: 35px;
	font-weight: bold;
}

.header ul li{
	display: inline-block;
	padding-top: 15px;
	justify-content: space-between;
}

.header a{
	text-decoration: none;
	font-size: 20px;
	color: green;
	padding-right: 10px;
	font-family: sans-serif;
}

.header a:hover{
  background-color: yellow;
}

.hero{
	height: 350px;
	background-image: url('img/musang1.jpg');
	background-size: cover;
	background-position: 0  -100px;
	border-top: 8px solid sandybrown;
	border-bottom: 5px solid salmon;
}

.content h3{
	margin: 5px;
	padding-top: 10px;
	font-size: 25px;
	font-weight: bold;
}

.content .penulis {
	padding-top: 10px;
	font-size: 20px;
	margin: 5px;
	
}

.content .penulis a{
	text-decoration: none;
	color: cadetblue;
}

.content p {
	font-size: 20px;
	padding: 15px;
	
}

.content footer{
	background-color: black;
	color: wheat;
	text-align: center;
	padding: 10px;
}



